<!doctype html>
<html lang="en">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<head>
  <title>Hello, world!</title>
</head>

<body>
  <div>
    <h1 style="text-align:center">Graph 1 </h1>
    <div style="width: 800;height: 500;align-content: center;">
      {{graph1|safe}}
    </div>
    <h1 style="text-align:center">Graph 2 </h1>
    <div style="width: 800;height: 500;align-content: center;">
      {{graph2|safe}}
    </div>
    <h1 style="text-align:center">Graph 3 </h1>
    <div style="width: 800;height: 500;align-content: center;">
      {{graph3|safe}}
    </div>
    <h1 style="text-align:center">Graph 4 </h1>
    <div style="width: 800;height: 500;align-content: center;">
      {{graph4|safe}}
    </div>
    <h1 style="text-align:center">Graph 5 </h1>
    <div style="width: 800;height: 500;align-content: center;">
      {{graph5|safe}}
    </div>
    <h1 style="text-align:center">Graph 6 </h1>
    <div style="width: 800;height: 500;align-content: center;">
      {{graph6|safe}}
    </div>
    <h1 style="text-align:center">Graph 7 </h1>
    <div style="width: 800;height: 500;align-content: center;">
      {{graph7|safe}}
    </div>
    <h1 style="text-align:center">Graph 8 </h1>
    <div style="width: 800;height: 500;align-content: center;">
      {{graph8|safe}}
    </div>
    <h1 style="text-align:center">Graph 9 </h1>
    <div style="width: 800;height: 500;align-content: center;">
      {{graph9|safe}}
    </div>
  </div>
</body>


</html>