<!doctype html>
<html lang="en">

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<head>
  <title>Hello, world!</title>
</head>

<body>
  <div>
    
    <h1 style="text-align:center">Interactive Stocks</h1>
    <canvas id="myChart"></canvas>
  </div>
</body>

<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{t|safe}},
        datasets: [{
            label: 'amazon',
            backgroundColor: [
                'rgb(0, 0, 0)',
            ],
            data: {{d1|safe}},
        },
        {
            label: 'Tesla',
            backgroundColor: [
                'rgb(255, 34, 132)',
            ],
            data: {{d2|safe}},
        },
        {
            label: 'Facebook',
            backgroundColor: [
                'rgb(151, 255, 255)',
            ],
            data: {{d3|safe}},
        },
        {
            label: 'Microsoft',
            backgroundColor: [
                'rgb(89, 99, 132)',
            ],
            data: {{d4|safe}},
        },
        {
            label: 'Apple',
            backgroundColor: [
                'rgb(255, 99, 45)',
            ],
            data: {{d5|safe}},
        }]
    },
    chartArea: {
        backgroundColor: [
                'rgb(89, 99, 132)',
            ],
    }
  
});
</script>

</html>